@import url('../_app/icons.css'); 

html, body, #map-canvas {
    margin:0px; 
    padding:0px; 
    width:100%; 
    height:100%; 
    z-index:1; 
    font-family:Arial; 
    overflow:hidden; } 
#map-canvas { z-index:100; }

.logo { display:block; 
    position:fixed; 
    top:10px; 
    left:10px; 
    width:80px; 
    height:80px; 
    background-image:url('../_imgs/logo.png'); 
    box-shadow:1px 1px 2px rgba(0,0,0,.5); 
    z-index:103; } 

.search { display:block; 
    position:fixed; 
    top:30px; 
    left:100px; 
    height:20px; 
    line-height:20px; 
    outline:none; 
    border:0px; 
    box-shadow:1px 1px 2px rgba(0,0,0,.5); 
    padding:10px; 
    padding-right:40px; 
    font-size:11pt; 
    color:#666; 
    z-index:103; } 

/*#tabstrip-home { z-index:3; }*/

.icon#mag_glass, .icon#random, .options, .icon#settings { display:block; 
    position:fixed; 
    top:36px; 
    font-family:Icons; 
    font-size:16pt; 
    color:#fff; 
    z-index:103; 
    text-shadow:0px 0px 2px #777; }
.icon#mag_glass { text-shadow:0px 0px 0px #fff; }

.icon#mag_glass { left:265px; 
    font-size:18pt; 
    color:#ff00f5; 
    z-index:105; }

.icon#random { left:110px; 
    top:90px; }

.options { left:150px; 
    top:90px; }

.icon#settings { left:220px; 
    top:90px; }


.icon#mag_glass:active, .icon#options span:active, .icon#random:active, .icon#settings:active { color:#bb00b1; }

.tabstrip { visibility:hidden; }

.myView { display:block; 
    position:absolute;
    top:10px; 
    left:0px; 
    width:100%; 
    height:100%; 
    background-color:#fff; 
    z-index:150px; }